.container{
    width: 100%; margin-right: auto; margin-right: auto;
}
.row{
    display: grid;gap: 20px;
    grid-template-areas: "h h h h h h h h h h h h"
    "b1 b1 b1 b2 b2 b2 b3 b3 b3 m m m"
    "c c c c c c c c c m m m"
    "f f f f f f f f f f f f";
}
.row div{
    display: flex; justify-content: center;align-items: center;font-size: 28px;
}
.header{
    grid-area: h;background-color: rgb(175, 164, 151);height: 150px;
}
.footer{
    grid-area: f;background-color: rgb(206, 194, 179);height: 150px;
}
.box1{
    grid-area: b1;background-color: rgb(208, 199, 218);height: 150px;
}
.box2{
    grid-area: b2;background-color: rgb(183, 174, 190);height: 150px
}
.box3{
    grid-area: b3;background-color: rgb(148, 143, 153);height: 150px
}
.sidebar{
    grid-area: m;background-color: rgb(184, 178, 169);height: 570px
}
.content{
    grid-area: c;background-color: rgb(172, 165, 179);height: 400px
}